<div class="phpinsights-block">
  {% for project in projects %}
    <div class="project-cover">
      <div class="cover-img">
        <a {{ new_tab }} href="{{ project.url }}">
          <picture>
            <img src="
              {% if project.covers[230] is defined %}
                {{ project.covers[230] }}
              {% elseif project.covers[202] is defined %}
                {{ project.covers[202] }}
              {% elseif project.covers[115] is defined %}
                {{ project.covers[115] }}
              {% endif %}
            " />
          </picture>
        </a>
      </div>
      <div class="cover-info">
        <div class="cover-name">
          <a {{ new_tab }} href="{{ project.url }}">{{ project.name }}</a>
        </div>
        <div class="cover-by-wrap">by
          {% for owner in project.owners %}
            <a {{ new_tab }} href="{{ owner.url }}">{{ owner.username }}</a>{{ not loop.last ? ',' }}
          {% endfor %}
        </div>
      </div>
      <div class="cover-stat-wrap">
        <span class="cover-stat"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ project.stats.appreciations }}</span>
        <span class="cover-stat"><i class="fa fa-eye" aria-hidden="true"></i> {{ project.stats.views }}</span>
      </div>
      <div class="cover-fields">
        {% for field in project.fields %}
          <a {{ new_tab }} href="https://www.behance.net/search?field={{ tags[field] }}">{{ field }}</a>{{ not loop.last ? ',' }}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
